<% content_for :title do %>Icinga 2 Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="icinga-uptime" data-view="Simplemon" data-title="Uptime" style="background-color: #0095bf;"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="icinga-version" data-view="Simplemon" data-title="Version" style="background-color: #0095bf;"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="icinga-host-up" data-view="Number" data-title="Hosts Up" style="background-color: #44bb77;"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="icinga-host-down" data-view="Number" data-title="Hosts Down" style="background-color: #ff5566;"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="icinga-host-downtime" data-view="Number" data-title="Hosts Downtime" style="background-color: #acacac;"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="icinga-service-ok" data-view="Number" data-title="Services OK" style="background-color: #44bb77;"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="icinga-service-warning" data-view="Number" data-title="Services Warning" style="background-color: #ffaa44;"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="icinga-service-critical" data-view="Number" data-title="Services Critical" style="background-color: #ff5566;"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="icinga-service-unknown" data-view="Number" data-title="Services Unknown" style="background-color: #aa44ff;"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="icinga-service-pending" data-view="Number" data-title="Services Pending" style="background-color: #0095bf;"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="icinga-service-downtime" data-view="Number" data-title="Services Downtime" style="background-color: #acacac;"></div>
    </li>

  </ul>

</div>
